<p>
  Beste <%= @email %>,
</p>
<p>
  Er is een account voor je aangemaakt op <%= link_to 'IkBenInwoner', root_url %>.
</p>
<p>
  Je tijdelijke wachtwoord is <%= @password %>, klik <%= link_to 'Hier', profile_url %> om je wachtwoord aan te passen.
</p>
<p>
  Groeten info@ikbeninwoner.nl
</p>
