<div class='landings-page'>
  <div class='top-image'></div>
  <div class='top-marker dropshadow'></div>
  <div class='top-marker'>
    <div class='top-marker-icon'></div>
  </div>

  <div class='inner'>
    <div class='container'>
      Landings page
    </div>
  </div>
</div>
