<div class='landings-page'>
  <div class="top">
    <div class='menu-bg'></div>
    <div class='top-image'></div>
    <div class='top-marker dropshadow'></div>
    <div class='top-marker'>
      <div class='top-marker-icon'></div>
    </div>
    <%= link_to 'Melding doen!', '#', class: 'top-add-report' %>
  </div>
  <div class='inner'>
    <div class='container'>
      Landings page

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
</div>
