<div class='inner'>
  <div class='container'>
    <h2>Berichten</h2>
    <ul>
      <% @messages.each do |message| %>
        <li><%= link_to message.body.truncate(50), message, remote: true, class: 'js_modal' %></li>
      <% end %>
    </ul>
  </div>
</div>
