<div class='inner'>
  <div class='container'>
    <h2>Gebruikers</h2>
    <ul>
      <% @users.each do |user| %>
        <li><%= link_to user.email, user %></li>
      <% end %>
    </ul>
  </div>
</div>
