<div class='content-container'>
	<div>
    <h3>Gebruiker <%= @user.email %> <%= '(Gemeente beheerder)' if current_user.community %></h3>
    <p>
      <% if current_user.community? %>
        Meldingen van mijn gemeente
      <% else %>
        Mijn meldingen:
      <% end %>
    </p>

    <ul class='reports'>
  	   <%= render @reports %>
  	</ul>
    <a href='#' class='reset-map'>Reset Map</a>
  </div>
</div>

<div class='map-container'>
	<div id='map' class='map'></div>
</div>
