<div class='footer'>
  <div class='container'>
    <div class='row'>
      <div class='columns four'>
        <h3>Adres</h3>
        <ul class='adres'>
          <li>
            IkBenInwoner
          </li>
          <li>
            Polle 11
          </li>
          <li>
            Rotsterhaule
          </li>
        </ul>
      </div>
      <div class='columns four'>
        <h3>Contact</h3>
        <ul class='contact'>
          <li>
            <i class="fa fa-mobile"></i> 06 542 473 43
          </li>
          <li>
            <i class="fa fa-phone"></i> (0513) 12 34 56
          </li>
          <li>
            <i class="fa fa-globe"></i> <%= link_to 'www.ikbeninwoner.nl', root_path %>
          </li>
        </ul>
      </div>
      <div class='columns four'>
        <h3>Social</h3>
        <div class='social'>
          <i class="fa fa-twitter"></i>
          <i class="fa fa-facebook"></i>
        </div>
        <%= link_to 'Contact', root_path, class: 'button' %>
      </div>
    </div>
  </div>
</div>
