<div class='recent-wrapper recents'>
  <div class='container'>
    <div class='columns nine'>
      <div class='row'>
        <h3>Recent bekeken</h3>
        <ul class='recent'>
          <% @recents.each do |recent| %>
            <%= render 'report', report: recent %>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render 'shared/side_bar' %>
  </div>
</div>
