<div class='columns four'>
  <h3>Categorie</h3>

  <ul class='list-items'>
    <li>
      <a href='#'>Nieuws</a>
    </li>
    <li>
      <a href='#'>Wegwerkzaamheden</a>
    </li>
    <li>
      <a href='#'>Evenementen</a>
    </li>
    <li>
      <a href='#'>Informatie</a>
    </li>
    <li>
      <a href='#'>Meldingen</a>
    </li>
  </ul>
</div>
