<div class='tutorial'>
  <p class='tut-left'><i class='fa fa-arrow-left'></i> Zoeken op locatie</p>
  <p class='tut-left'><i class='fa fa-arrow-left fa-6x'></i> Lijst van meldingen</p>
  <p class='tut-right'><i class='fa fa-arrow-up fa-6x'></i> Melding doen</p>
  <p class='tut-right2'><i class='fa fa-arrow-up fa-6x'></i> Nieuws</p>
  <h1>Welkom bij IkBenInwoner</h1>
  <h2>D&eacute; manier om te communiceren met je Gemeente </h2>
</div>
