<li data-event-id="<%= event.id %>">
	<%= link_to event.title, '#', data: { lat: event.latitude, lon: event.longitude, remote: true }, class: 'event' %> (<%= event.address %>)
	<%= link_to 'Edit', edit_event_path(event.id), class: 'button js_modal', remote: true  %>
</li>