<div class='row height-total'>
	<div class='six columns'>
		<ul class='events'>
		  <% @events.each do |event| %>
		    <%= render 'event', event: event %>
		  <% end %>
		</ul>
	</div>
	<div class='six height-total columns'>
		<div id='map' class='map'></div>
	</div>
</div>