<h1>Events</h1>

<%= link_to 'Evenement aanmaken', new_event_path %>

<ul>
  <% @events.each do |event| %>
    <li class='event'>
      <% map = 'http://nominatim.openstreetmap.org/search.php?q=' + event.latitude.to_s + '%2C+' + event.longitude.to_s %>
      <a href=<%= map %>>
        <%= event.title %>
      </a>
    </li>
  <% end %>
</ul>

