<h1>Events</h1>

<%= link_to 'Evenement aanmaken', new_event_path %>

<ul>
  <% @events.each do |event| %>
    <li class='event'>
      <%= event.title %>
    </li>
  <% end %>
</ul>



<div id='map'></div>
<script>

  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 52.397, lng: 6.544},
      zoom: 7
    });
  }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-CJuuFP6eSLUX1g3Osuy9HRfYtMQ6SWA&callback=initMap"
    async defer></script>