<h1>Events</h1>

<%= link_to 'Evenement aanmaken', new_event_path %>

<ul>
  <% @events.each do |event| %>
    <li class='event' data-lon=<%= event.longitude %> data-lat=<%= event.latitude %>>
     <a href='#'><%= event.title %></a>
    </li>
  <% end %>
</ul>

<div id="map" class="map"></div>

<script type="text/javascript"> 
  var lon = 5.5
  var lat = 52
  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.transform([5.7, 52.2], 'EPSG:4326', 'EPSG:3857'),
      zoom: 7
    })
  });
</script>