<div class='row height-total'>
	<div class='six columns'>
    <input id="pac-input" class="controls" type="text" placeholder="Zoek op Gemeente">
		<ul class='events'>
		  <% @events.each do |event| %>
		    <%= render 'event', event: event %>
		  <% end %>
		</ul>
	</div>
	<div class='six height-total columns'>
		<div id='map' class='map'></div>
    <a href='#' class='reset-map'>Reset Map</a>
	</div>
</div>
