<h1>Events</h1>

<%= link_to 'Evenement aanmaken', new_event_path, class: 'js_modal', remote: true if user_signed_in? %>

<ul class='events'>
  <% @events.each do |event| %>
    <%= render 'event', event: event %>
  <% end %>
</ul>

<input id="pac-input" class="controls" type="text" placeholder="Zoek op Gemeente">
<div id='map'></div>
<a href='#' class='reset-map'>Reset Map</a>
