<h1>Events</h1>

<%= link_to 'Evenement aanmaken', new_event_path, class: 'js_modal', remote: true %>

<ul class='events'>
  <% @events.each do |event| %>
    <li>
      <%= event.title %>
    </li>
  <% end %>
</ul>