/* Variables */
$basic-color: #ff513f;
$basic-color-dark: #E94A3A;

$dark-gray: #474747;

$background-color: #f4f4f2;
$background-color-dark: #424242;

/* Basic styling */
@import 'bourbon';

@import 'skeleton';
@import 'normalize';

@import 'classic';
@import 'classic.date';

@import 'modal';
@import 'form';
@import 'map';
@import 'report';
@import 'menu';
@import 'notice';
@import 'search';
@import 'featured';
@import 'responsive';

// Icons
@import 'font-awesome';
@import 'icons';

/* Basic styling */

html, html a, body, body a {
  -webkit-font-smoothing: antialiased;
}

body, html {
  height: 100%;
  min-height: 100%;
  input[type="submit"].button-primary,
  .button.button-primary {
    background: $basic-color;
    border-color: $basic-color-dark;
    @include transition(0.3s);
    &:focus,
    &:active,
    &:hover {
      background: $basic-color-dark;
      border-color: $basic-color;
      color: #fff;
    }
  }
  a {
    @include transition(0.3s);
    &:focus,
    &:active,
    &:hover {
      color: $basic-color-dark;
    }
  }
}

.outer-wrapper {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  right: 0;
  @include transition(0.3s);
  &.show-side-menu {
    right: 200px;
  }
}

.wrapper {
  height: calc(100% - 62px);
  min-height: calc(100% - 62px);
  position: relative;
  background: $background-color;
}
.content {
  float: left;
  height: 100%;
  min-height: 100%;
  width: 30%;
  overflow: scroll;
  .inner {
    padding: 24px 24px 0px 24px;
  }
}

.content-wrapper {
  padding: 12px 24px;
}

/* Font styling */
h3 {
  color: $dark-gray;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 12px;
  a {
    text-decoration: none;
    color: $dark-gray;
    &:hover {
      color: $basic-color;
    }
  }
}

/* Clear Floated Elements */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* float left our right */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Buttons */
.button {
  margin-bottom: 12px;
  &.small {
    font-size: 10px;
    height: 30px;
    line-height: 28px;
    padding: 0 12px;
    letter-spacing: 0.5px;
  }
}
