/* Basic styling */
@import 'bourbon';

@import 'skeleton';
@import 'normalize';

@import 'modal';
@import 'form';
@import 'map';
@import 'event';


/* Clear Floated Elements 
------------------------------------------------------*/

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}