/* Variables */
$basic-color: #ff513f;
$basic-color-dark: #E94A3A;

$dark-gray: #474747;

$background-color: #f4f4f2;
$background-color-dark: #424242;

$green: #90EE90;
$red: #F45D4E;

$spacing: 12px;

$shadow: 1px 2px 3px rgba(0,0,0,0.2);

/* Basic styling */
@import 'jquery-ui/autocomplete';
@import 'autocomplete';

@import 'bourbon';
@import 'ckeditor/contents';

@import 'skeleton';
@import 'normalize';

@import 'classic';
@import 'classic.date';

@import 'select2.min';

/* Map styling */
@import 'map_info_windows';
@import 'map_markers';
@import 'map';

/* Menu styling */
@import 'menu_dashboard';
@import 'menu_header';
@import 'menu_mobile';

/* Framework styling */
@import 'fw_font_styling';
@import 'fw_list_items';
@import 'fw_panels';
@import 'fw_modals';
@import 'fw_forms_buttons';

/* Specific styling */
@import 'recent';
@import 'report';
@import 'notice';

@import 'featured';
@import 'contact';
@import 'footer';

@import 'header_modal';

// Icons
@import 'font-awesome';
@import 'icons';

/* Mobile */
@import 'responsive';

/* Basic styling */

html, html a, body, body a {
  -webkit-font-smoothing: antialiased;
}

body, html {
  height: 100%;
  min-height: 100%;
}

/* Framework */
.index-outer-wrapper,
.outer-wrapper {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  right: 0;
  @include transition(0.3s);
  &.show-side-menu {
    right: 200px;
  }
}

.wrapper {
  padding-top: 62px;
  position: relative;
  background: $background-color;
}

.index-outer-wrapper {
  height: 100%;
}

.index-wrapper {
  height: 100%;
  min-height: 100%;
  background: $background-color;
  position: relative;
}


.content {
  float: left;
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  .inner {
    padding: 24px 24px 0px 24px;
  }
}

.content-wrapper {
  padding: 12px 24px;
}

.inner {
  padding: 24px;
}

/* Clear Floated Elements */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* float left our right */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* Loading */
.loading{
  max-height: 64px;
  max-width: 64px;
  position: absolute;
	left: 50%;
	top: 50%;
	margin: -32px 0 0 -32px;
  z-index: 20000;
  display: none;
}

.hidden{
  display: none;
}
