.dropdown {
  width: 200px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 60px;
  right: 0;
  display: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  li {
    float: left;
    width: 100%;
    @include transition(0.3s);
    a {
     text-indent: 0;
    }
    &:hover {
      background-color: #f7f7f7;
      a {
        text-indent: 12px;
      }
    }
  }
}

.has-dropdown {
  position: relative;
  &:hover {
    .dropdown {
      display: block;
    }
  }
}
