.featured.content-wrapper {
  background: $background-color-dark;
  padding: 84px 24px 100px;
  h3 {
    color: #fff;
  }
}

.feature {
  background: #353535;
  text-align: center;
  color: #fff;
  h3 {
    margin-top: 24px;
    margin-bottom: 0;
    text-transform: none;
  }
  a {
    color: #fff;
  }
  .date {
    display: block;
    margin-bottom: 24px;
    position: relative;
    &:after {
      content: '';
      width: 50%;
      height: 1px;
      position: absolute;
      bottom: -12px;
      left: 25%;
      background: $background-color;
      opacity: 0.2;
    }
  }
}
