/* Font styling */
.active {
  >  a {
   color: $basic-color;
  }
}

a {
  color: $basic-color;
  &:hover {
    text-decoration: none;
  }
}

h3 {
  color: $dark-gray;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 12px;
  a {
    text-decoration: none;
    color: $dark-gray;
    &:hover {
      color: $basic-color;
    }
  }
}

h5 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0;
}
