/* Font styling */
.active {
  >  a {
   color: $basic-color;
  }
}

a {
  color: $basic-color;
  &:hover {
    text-decoration: none;
  }
}

h3 {
  color: $dark-gray;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 12px;
  a {
    text-decoration: none;
    color: $dark-gray;
    &:hover {
      color: $basic-color;
    }
  }
}

h5 {
  letter-spacing: .1rem;
  color: $dark-gray;
  font-size: 16px;
  margin-bottom: $spacing;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  word-wrap: break-word;
}
