textarea,
input[type="time"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  margin-bottom: 12px;
}

input[type="checkbox"] {
  float: left;
  margin: 8px 10px 8px 0;
}

textarea,
input[type="time"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  border-radius: 0;
  &:focus {
    border-color: $basic-color;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

/* Buttons */
body,
html {
  input[type="submit"].button-primary,
  .button.button-primary {
    border-radius: 2px;
    background: $basic-color;
    border-color: $basic-color-dark;
    @include transition(0.3s);
    &:focus,
    &:active,
    &:hover {
      background: $basic-color-dark;
      border-color: $basic-color;
      color: #fff;
    }
  }
  a {
    @include transition(0.3s);
    &:focus,
    &:active,
    &:hover {
      color: $basic-color-dark;
    }
  }
  label {
    font-weight: 400;
    margin-bottom: $spacing;
    font-size: 14px;
  }
}

/* Form errors */
.field_with_errors {
  textarea,
  input {
    border: 1px solid #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    &:focus {
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
      border: 1px solid #a94442;
    }
  }
}

form {
  margin-bottom: 0;
  .row {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.panel form label {
  text-align: right;
  padding: 7px 0 0;
  margin-bottom: 0;
}

.button {
  margin-bottom: 12px;
  &.small {
    font-size: 10px;
    height: 30px;
    line-height: 28px;
    padding: 0 12px;
    letter-spacing: 0.5px;
  }
}

.button-sm{
  margin-top: -6px;
}
.select {
  .field_with_errors {
    float: left;
    margin-right: 0;
    select {
      border-color: red;
    }
  }
  select {
    margin-right: 12px;
  }
}

form {
  .icon {
    position: relative;
    margin-bottom: $spacing;
    &:before {
      font-family: FontAwesome;
      content: '';
      color: #999;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 9px;
      top: 9px;
    }
    &.email:before {
      content: '\f1fa';
    }
    &.password:before {
      content: '\f13e';
    }
  }
}

label {
	display: inline;
}

.checkbox {
	display: none !important;
}

.checkbox + label {
	padding: 0 0 0 24px;
	display: inline-block;
	position: relative;
  &:before {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid $dark-gray;
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
  }
}

.checkbox:checked + label:after {
	content: '\f00c';
  font-family: FontAwesome;
  font-size: 21px;
  position: absolute;
  line-height: 0;
  top: 9px;
  left: 1px;
	color: $basic-color;
}
