.icon-bin{background-image: asset-url('icons/bin.png');height:24px;width:24px;display:inline-block;}
.icon-mail{background-image: asset-url('icons/mail.png');height:24px;width:24px;display:inline-block;}
.icon-pencil{background-image: asset-url('icons/pencil.png');height:24px;width:24px;display:inline-block;}
.icon-pin{background-image: asset-url('icons/pin.png');height:24px;width:24px;display:inline-block;}
.icon-search{background-image: asset-url('icons/search.png');height:24px;width:24px;display:inline-block;}
.icon-user{background-image: asset-url('icons/user.png');height:24px;width:24px;display:inline-block;}
