.map{
  height: 50%;
  min-height: 50%;
  width: 100%;
}

.pano{
  height: 50%;
  min-height: 50%;
  width:100%;
}

.map-container {
  float: left;
  height: 100%;
  min-height: 100%;
  width: 52%;
}


