.map{
  height: 100%;
  min-height: 100%;
  width:50%;
  float:left;
}

.pano{
  min-height: 100%;
  width:50%;
  float:left;
}

.map-container {
  float: left;
  height: 100%;
  min-height: 100%;
  width: 52%;
}


