.map{
  height: 100%;
  min-height: 100%;
  width: 100%;
  &.map-show {
    height: 150px;
    min-height: 150px;
  }
}

img {
  min-width: 100%;
}

.map-container {
  float: left;
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin-left: 0;
  position: relative;
}

.reset-map {
  position: absolute;
  bottom: 24px;
  right: 50px;
  background: #fff;
  color: $dark-gray;
  border-radius: 2px;
  font-weight: bold;
  font-weight: 400;
  font-size: 11px;
  padding: 6px 8px;
  text-decoration: none;
  box-shadow: $shadow;
  @include transition(0.3s);
  &:focus,
  &:hover {
    background: #ebebeb;
    color: #333;
  }
}

.row.pano {
  height: 500px;
}

#pano{
  height:500px;
}

.google-maps-search {
  background: #fff;
  z-index: 2;
  width: 304px;
  height: 58px;
  position: fixed;
  top: 12px;
  left: 12px;
  box-shadow: $shadow;
  border-radius: 2px;
  overflow: hidden;
  &:before {
    position: absolute;
    content: '\f002';
    font-family: FontAwesome;
    font-size: 22px;
    color: #a8a8a8;
    width: 22px;
    height: 22px;
    line-height: 21px;
    right: 80px;
    top: 18px;
    opacity: 0.6;
  }
  .search {
    border: none;
    margin-bottom: 0;
    height: 60px;
    width: 246px;
    padding: 5px 10px 5px 20px;
    float: left;
    border-right: 1px solid #f4f4f2;
    &:focus {
      border: none;
      border-right: 1px solid #f4f4f2;
    }
  }
}

.pac-container {
  z-index: 1;
  top: 70px !important;
  width: 304px !important;
  border-top: none;
  .pac-item {
    padding: 12px;
    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom:  1px solid $background-color;
    }
  }
}

.current-location {
  width: 58px;
  height: 58px;
  float: right;
  cursor: pointer;
  background: #fff;
  @include transition(0.3s);
  &:hover {
    background: $background-color;
    &:before {
      color: $basic-color-dark;
    }
  }
  &:before {
    content: '\f124';
    font-family: FontAwesome;
    color: $basic-color;
    font-size: 28px;
    display: block;
    width: 100%;
    padding: 7px 0;
    text-align: center;
  }
}
