.version {
  color: #7f7f7f;
  font-size: 14px;
  width: 30px;
  height: 18px;
  float: left;
  margin-top: 19px;
  font-style: italic;
  opacity: 0.6;
}

.logo {
  width: 120px;
  padding: 20px $spacing;
  float: left;
  position: relative;
  &:before {
    content: '\f015';
    font-family: FontAwesome;
    position: absolute;
    opacity: 1;
    font-size: 20px;
    top: 15px;
    right: -$spacing;
  }
}

// Header menu

header {
  z-index: 2;
  position: fixed;
  top: $spacing;
  right: $spacing;
  box-shadow: $shadow;
  &.dashboard-header {
    top: 0;
    right: 0;
    box-shadow: none;
    width: 100%;
    background: #fff;
    a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .dropdown {
      top: 62px;
    }
  }
  ul {
    float: right;
    background: #fff;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    li {
      height: 100%;
      margin: 0;
      list-style: none;
      display: inline-block;
      float: right;
      @include transition(0.3s);
      &:hover,
      &.active {
        background: $background-color;
      }
    }
  }
  a {
    font-size: 14px;
    padding: $spacing*1.5;
    display: block;
    color: $dark-gray;
    text-decoration: none;
    letter-spacing: .1rem;
  }
  .button {
    margin: 12px 0 0 0;
  }
  h1 {
    margin: 0;
    font-size: 14px;
    height: 100%;
    float: left;
  }
}

.profile-link {
  padding-right: 46px;
  .profile-picture {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #f7f7f7;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    img {
      max-width: 40px;
    }
  }
}

// Dropdown menu

.dropdown {
  width: 200px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 58px;
  right: 0;
  opacity: 0;
  visibility: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: $shadow;
  li {
    float: left;
    width: 100%;
    @include transition(0.3s);
    a {
     text-indent: 0;
    }
    &.active,
    &:hover {
      background-color: $background-color;
      a {
        color: $dark-gray;
        text-indent: 12px;
      }
    }
  }
}

.has-dropdown {
  position: relative;
  &:hover {
    .dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}
