.hamburger {
  width: 30px;
  height: 22px;
  border: $spacing solid rgba(0,0,0,0);
  position: relative;
  cursor: pointer;
  @include transition(0.3s);
  &.active {
    @include transform(rotate(45deg));
  }
  span {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background: $basic-color;
    position: absolute;
    @include transition(0.3s);
    &:first-child {
      top: 0;
      margin-top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      margin-top: -2px;
    }
    &:last-child {
      top: 100%;
      margin-top: -4px;
    }
  }
  &.active,
  &:hover {
    span {
      background: $basic-color-dark;
      &:last-child,
      &:first-child {
        top: 50%;
        margin-top: -2px;
      }
      &:nth-child(2) {
        @include transform(rotate(90deg));
      }
    }
  }
}

.side-menu {
  width: 200px;
  height: 100%;
  min-height: 100%;
  position: fixed;
  right: -200px;
  top: 0;
  z-index: 10;
  background: #fff;
  box-shadow: -1px 2px 3px rgba(0,0,0,0.2);
  @include transition(0.3s);
  &.show-side-menu {
    right: 0;
  }
  ul {
    padding: 0;
    margin-top: 12px;
    list-style: none;
    li {
      margin: 0;
      width: 100%;
      height: 46px;
      @include transition(0.3s);
      &.active,
      &:hover {
        background: $background-color;
      }
    }
    a {
      font-size: 14px;
      color: $dark-gray;
      display: block;
      width: 100%;
      height: calc(100% - 16px);
      padding: 12px 0 4px;
      text-indent: 20px;
      text-decoration: none;
      letter-spacing: .1rem;
    }
  }
  .message,
  .news,
  .reports-link {
    &:before {
      right: 52px !important;
      top: 10px !important;
    }
  }
  .profile-link .profile-picture {
    top: 16px;
  }
}
