.hamburger {
  width: 30px;
  height: 22px;
  border: $spacing solid rgba(0,0,0,0);
  position: relative;
  cursor: pointer;
  @include transition(0.3s);
  &.active {
    @include transform(rotate(45deg));
  }
  span {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background: $basic-color;
    position: absolute;
    @include transition(0.3s);
    &:first-child {
      top: 0;
      margin-top: 0;
    }
    &:nth-child(2) {
      top: 50%;
      margin-top: -2px;
    }
    &:last-child {
      top: 100%;
      margin-top: -4px;
    }
  }
  &.active,
  &:hover {
    span {
      background: $basic-color-dark;
      &:last-child,
      &:first-child {
        top: 50%;
        margin-top: -2px;
      }
      &:nth-child(2) {
        @include transform(rotate(90deg));
      }
    }
  }
}

.side-menu {
  width: 200px;
  height: 100%;
  min-height: 100%;
  position: fixed;
  right: -200px;
  top: 0;
  z-index: 2;
  background: $background-color-dark;
  @include transition(0.3s);
  &.show-side-menu {
    right: 0;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      width: 100%;
      height: 40px;
      &:hover {
        background: #333;
      }
    }
    a {
      font-size: 12px;
      display: block;
      width: 100%;
      height: calc(100% - 10px);
      padding-top: 10px;
      text-indent: 20px;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      letter-spacing: .1rem;
      &:hover {
        color: $basic-color;
      }
    }
  }
  h4 {
    font-size: 14px;
    text-indent: 20px;
    color: #999;
    margin-bottom: 0;
    height: 39px;
    margin-top: 22px;
  }
}
