.dashboard-menu-bg {
  background: $dark-gray;
}

.dashboard-menu {
  max-width: 1200px;
  margin: auto;
  li {
    display: inline-block;
    margin-bottom: 0;
    padding: 10px 12px;
    a {
      padding: 10px 12px;
      color: #fff;
      text-decoration: none;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        height: 0;
        background: #f7f7f7;
        width: calc(100% - 24px);
        bottom: -4px;
        @include transition(0.3s);
      }
      &:hover {
        color: #f7f7f7;
        &:before {
          height: 4px;
        }
      }
    }
  }
}
