.version {
  color: #7f7f7f;
  font-size: 12px;
  width: 30px;
  height: 18px;
  float: left;
  margin-top: 19px;
  font-style: italic;
  opacity: 0.6;
}


// Header menu

header {
  z-index: 1;
  position: relative;
  height: 62px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  div {
    height: 100%;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      height: 100%;
      margin: 0;
      list-style: none;
      display: inline-block;
      float: right;
      .button-primary {
        margin-right: 12px;
        margin-left: 12px;
      }
    }
  }
  a {
    font-size: 14px;
    padding: 22px 24px 25px;
    display: block;
    color: $dark-gray;
    //font-weight: 600;
    text-decoration: none;
    letter-spacing: .1rem;
  }
  .button {
    margin: 12px 0 0 0;
  }
  h1 {
    margin: 0;
    font-size: 14px;
    height: 100%;
    float: left;
  }
  .profile-link {
    padding-right: 46px;
    .profile-picture {
      position: absolute;
      right: 12px;
      top: 12px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: #f7f7f7;
      text-align: center;
      line-height: 40px;
      overflow: hidden;
      img {
        max-width: 40px;
      }
    }
  }
}

// Dropdown menu

.dropdown {
  width: 200px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 60px;
  right: 0;
  display: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  li {
    float: left;
    width: 100%;
    @include transition(0.3s);
    a {
     text-indent: 0;
    }
    &.active,
    &:hover {
      background-color: #f7f7f7;
      a {
        text-indent: 12px;
      }
    }
  }
}

.has-dropdown {
  position: relative;
  &:hover {
    .dropdown {
      display: block;
    }
  }
}
