.newsletter-block{
  height: 165px;
  background: #FFF;
  padding: 10px;
  margin-bottom:10px;
  overflow: hidden;
  img{
    width: 100%;
  }
}

.community_image_name{
  font-size:  30px;
  margin-top: 50px;
  text-align: center;
  height: 115px;
}

.image-block{
  height: 100%;
  background-color: grey;
}
