/* Variables
------------------------------------------------------*/
$red: #a94442;
$green: #3c763d;

.notice, .alert {
  width: auto;
  position: fixed;
  right: 12px;
  top: 80px;
  height: 24px;
  padding: 12px 52px 12px 12px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  z-index: 1;
  background: $green;
  opacity: 0;
  visibility: hidden;
  box-shadow: $shadow;
  //border: 1px solid $green;
  border-radius: 2px;
  overflow: hidden;
  @include transition(0.3s);
  .close {
    width: 30px;
    height: 30px;
    right: 12px;
    top: 7px;
    position: absolute;
    cursor: pointer;
    &:before {
      font-size: 18px;
      content: '\f00d';
      font-family: FontAwesome;
      position: absolute;
      top: 2px;
      left: 7px;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.alert, .fail{
  background: $red;
  //border: 1px solid $red;
}
