.report {
  cursor: pointer;
}

.reports{
  li{
    list-style: none;
    background-color : #fff;
  }
}

.report-image {
  width: 150px;
  height: 150px;
  float: left;
  padding: 0 12px 0 0;
}

.report-info {
  position: relative;
  padding: 12px;
  width: auto;
  span {
    display: block;
  }
  .date {
    font-size: 12px;
    opacity: 0.5;
    font-style: italic;
  }
  h3 {
    margin-bottom: 0;
  }
}
