.all-reports {
  background: #fff;
  border-radius: 2px;
  box-shadow: $shadow;
  width: 304px;
  height: 0;
  max-height: calc(100% - 300px);
  overflow: auto;
  position: fixed;
  top: 82px;
  left: $spacing;
  @include transition(0.3s);
}

.report-image {
  float: left;
  max-width: 87px;
  max-height: 87px;
  padding: 0 12px 0 0;
}

.report-info {
  position: relative;
  padding: 12px 12px 0;
  height: 75px;
  span {
    display: block;
  }
  h3 {
    text-transform: none;
    margin-bottom: 0;
  }
  p {
    @include transition(0.3s);
    color: #222;
    margin-bottom: 0;
  }
  .button {
    position: absolute;
    bottom: 0px;
    right: 12px;
  }
  .fa {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 2;
    &.fa-pencil-square-o {
      right: 52px;
    }
  }
}

.date {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 12px;
  @include transition(0.3s); 
  color: #999;
  font-style: italic;
}

.report-show {
  position: relative;
  height: 87px;
  background: #fff;
  @include transition(0.3s);
  border-bottom: 1px solid #f4f4f2;
  &:last-child {
    border-bottom: none;
  }
  .address {
    @include transition(0.3s);
    color: #222;
    text-indent: 16px;
    &:before {
      position: absolute;
      left: 12px;
      text-indent: 0;
      content: '\f041';
      font-family: FontAwesome;
    }
  }
  .goto-report {
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
  }
  &.active,
  &:hover {
    background: $basic-color;
    h3 a, p, .address, .date {
      color: #fff;
    }
  }
}
