.report {
  cursor: pointer;
  color: #1EAEDB;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
    color: #0FA0CE;
  }
}

.reports{
  h3{
    font-size:25px;
    font-weight:900;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  li{
    background-color : #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
}
