.show-on-mobile {
  display: none !important;
}

.hide-on-mobile {
  display: block !important;
}

@media only screen and (max-width: 940px) {
  .show-on-mobile {
    display: block !important;
  }

  .hide-on-mobile {
    display: none !important;
  }

  header {
    overflow: hidden;
    @include transition(0.3s);
    &.show-side-menu {
      right: 200px;
    }
  }
  .google-maps-search {
    width: 292px;
    height: 46px;
    .search {
      height: 46px;
      padding: 0 10px 0 20px;
    }
    &:before {
      top: 13px;
      right: 60px;
      font-size: 20px;
    }
    .current-location {
      height: 46px;
      width: 46px;
      &:before {
        padding: 5px 0 3px;
        font-size: 22px;
      }
    }
  }

}

@media only screen and (max-width: 660px) {
}
