.show-on-mobile {
  display: none !important;
}

.hide-on-mobile {
  display: block !important;
}

@media only screen and (max-width: 940px) {
  .show-on-mobile {
    display: block !important;
  }

  .hide-on-mobile {
    display: none !important;
  }

  header {
    overflow: hidden;
    z-index: 10;
    @include transition(0.3s);
    &.show-side-menu {
      right: 200px;
    }
    &.dashboard-header {
      height: 46px;
      .logo {
        padding-top: 12px;
        padding-bottom: 12px;
        &:before {
          top: 5px;
        }
      }
    }
  }
  body .wrapper {
    padding-top: 46px;
  }
  .google-maps-search {
    height: 46px;
    .search {
      height: 46px;
      padding: 0 10px 0 20px;
    }
    &:before {
      top: 13px;
      right: 60px;
      font-size: 20px;
    }
    .current-location {
      height: 46px;
      width: 46px;
      &:before {
        padding: 5px 0 3px;
        font-size: 22px;
      }
    }
    .search {
      width: 258px;
    }
  }
  .arrow-up {
    display: none;
  }
  .header-modal {
    right: 0;
    top: 72px;
    &.register-modal,
    &.report-modal {
      width: 260px;
    }
  }
}

@media only screen and (max-width: 660px) {
}
