<%= f.text_field :title, placeholder: 'Naam van de categorie', validate: '', class: 'u-full-width' %>
<i><small>
  De class namen voor een icon kunnen worden terug gevonden op:
  <a target='blank' href='https://fortawesome.github.io/Font-Awesome/icons/'>Fontawsome</a>
</small></i>
<%= f.text_field :icon_name, placeholder: 'Fontawsome icon class naam', validate: '', class: 'u-full-width' %>
