<div class='content-container'>
	<div>
    <ul class='reports'>
      <% @communities.each do |community| %>
      <li data-lon='<%= community.longitude %>' data-lat='<%= community.latitude %>'>
        <%= link_to community.name, community, class: 'community-reports', data: { no_turbolink:  true } %>
        <%= community.reports.count %> melding(en)
      </li>
      <% end %>
    </ul>
  </div>
</div>
