<div class='content-container'>
	<div>
    <h3><%= @community.name %></h3>
    <ul class='reports'>
  	   <%= render @reports %>
  	</ul>
    <a href='#' class='reset-map'>Reset Map</a>
  </div>
</div>
