<li class='<%= current_page_class(admin_dashboard_path) %>'>
  <%= link_to 'Gemeente instellingen', community_admin_dashboard_path %>
</li>
<li class='<%= current_page_class(community_admin_users_path) %>'>
  <%= link_to 'Gemeente abonnees', community_admin_users_path %>
</li>
