<li class='<%= current_page_class(admin_dashboard_path) %>'>
  <%= link_to 'Gemeente dashboard', community_admin_dashboard_path %>
</li>
<li class='<%= current_page_class(community_admin_users_path) %>'>
  <%= link_to 'Gemeente gebruikers', community_admin_users_path %>
</li>
