<%= render 'shared/dashboard_menu' %>

<div class='inner'>
  <div class='container'>
    <%= form_for Delivery.new do |f| %>
      <div class='row'>
        <div class='six columns'>
          <%= f.label :streets, 'Straten*' %>
          <%= f.select(:streets, @streets, {}, {multiple: true, class: 'js_init_select'}) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
