<div class='content-container'>
  <div>
    <h1>Gemeente dashboard</h1>
  </div>
</div>

<div class='map-container'>
  <div id='map' class='map'></div>
  <div id='pano' class='pano'></div>
  <%= current_user.community.name %>
</div>
