<div class='map-container'>
	<div id='map' class='map'></div>
  <div class='google-maps-search'>
    <input id='pac-input' class='controls search' type='text' placeholder='Zoeken op locatie'>
    <div class='js_current_location current-location'></div>
  </div>
  <a href='#' class='reset-map'>Opnieuw laden</a>
</div>
