<div class='content-container'>
	<div>
    <ul class='reports'>
  	   <%= render @reports %>
  	</ul>
    <a href='#' class='reset-map'>Reset Map</a>
  </div>

  <%= form_tag( search_streets_path, method: 'get', remote: true, class: 'js_search_streets' ) do %>
  	<%= text_field_tag :search, nil, autocomplete: "off" %>
  <% end %>


  <p>blabla</p>
</div>

<div class='map-container'>
	<div id='map' class='map'></div>
  <div id='pano' class='pano'></div>
</div>
