<div class='content'>
  <div class='inner search-options'>
      <h3>Zoeken</h3>
      <input id="pac-input" class="controls u-full-width" type="text" placeholder="Zoek op Gemeente">
  </div>
  <div class='inner'>
    <h3>Meldingen</h3>
    <ul class='reports'>
  	   <%= render @reports %>
  	</ul>
  </div>
</div>

<div class='map-container'>
	<div id='map' class='map'></div>
  <a href='#' class='reset-map'>Opnieuw laden...</a>
</div>
