<% if notice %>
  <div class='notice'>
  	<%= notice %>
    <div class='close'>
    </div>
  </div>
<% end %>
<% if alert %>
  <div class='notice fail'>
  	<%= alert %>
    <div class='close'>
    </div>
  </div>
<% end %>
